<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude /api routes from rewrite
    RewriteCond %{REQUEST_URI} !^/api [NC]

    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>